In [51]:
import numpy as np
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
data = pd.read_csv("loan_sanction_train.csv")
print(data.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [53]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None

In [54]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [55]:
#removing the null values

data = data[data['Gender'].notna()]

In [56]:
data.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [57]:
data['Dependents'] = data['Dependents'].fillna('0')
data.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [58]:
#dropping null values in the married column

data = data[data['Married'].notna()]
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [59]:
#changing null values to No in the self_employed column

data['Self_Employed'] = data['Self_Employed'].fillna('No')
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [60]:
#changing null values to the median amount in the loan column

data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].median())
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [61]:
data['Loan_Amount_Term'] = data["Loan_Amount_Term"].fillna(data['Loan_Amount_Term'].min())
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [62]:
data["Credit_History"] = data["Credit_History"].fillna(0)
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [63]:
def changing_three(x):
    if x == '3+':
        x = '3'
        
    return int(x)

data['Dependents'] = data['Dependents'].apply(changing_three)

In [64]:
data['Dependents'].unique()

array([0, 1, 2, 3], dtype=int64)

In [65]:
data['Credit_History'] = data["Credit_History"].astype(int)
data["Credit_History"].dtype

dtype('int32')

In [66]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,127.0,360.0,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1,Urban,Y

In [67]:
data["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [68]:
data["Self_Employed"].unique()

array(['No', 'Yes'], dtype=object)

In [69]:
data["Property_Area"].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [70]:
data["Loan_Status"].unique()

array(['Y', 'N'], dtype=object)

In [71]:
data["Gender"] = data["Gender"].map({"Female": 0,
                                    "Male": 1})

data["Self_Employed"] = data["Self_Employed"].map({"No": 0,
                                                  "Yes": 1})

data["Property_Area"] = data["Property_Area"].map({"Urban": 0,
                                                  "Rural": 1,
                                                  "Semiurban": 2})

data["Loan_Status"] = data["Loan_Status"].map({'Y': 0,
                                              'N': 1})

print(data.head())

    Loan_ID  Gender Married  Dependents     Education  Self_Employed  \
0  LP001002       1      No           0      Graduate              0
1  LP001003       1     Yes           1      Graduate              0
2  LP001005       1     Yes           0      Graduate              1
3  LP001006       1     Yes           0  Not Graduate              0
4  LP001008       1      No           0      Graduate              0

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0       127.0             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History  Property_Area  Loan_Status
0               1              0            0
1               1              1            1
2               1              0            0
3               1              0            0
4               1              0            0

In [72]:
data["Married"] = data["Married"].map({"No": 0,
                                       "Yes": 1})

data["Education"] = data["Education"].map({"Graduate": 1,
                                          "Not Graduate": 0})

print(data.head())

    Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0  LP001002       1        0           0          1              0
1  LP001003       1        1           1          1              0
2  LP001005       1        1           0          1              1
3  LP001006       1        1           0          0              0
4  LP001008       1        0           0          1              0

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0       127.0             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History  Property_Area  Loan_Status
0               1              0            0
1               1              1            1
2               1              0            0
3               1              0            0
4               1              0            0

In [49]:
from sklearn.model_selection import train_test_split
x = np.array(data[["Gender", "Married","Dependents", "Education", "Self_Employed",
                  "ApplicantIncome", "CoapplicantIncome", "LoanAmount", "Loan_Amount_Term","Credit_History",
                  "Credit_History", "Property_Area"]])

y = np.array(data[["Loan_Status"]])

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 42)

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)

<ipython-input-50-c020193a3fe7>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [26]:
model.score(x_test, y_test)

0.7474747474747475